@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
   
}
     .body{
        width: auto;
        aspect-ratio: 1 / 1;
        background: linear-gradient(to bottom, #B9CEE6, #E6ECF0);
     }
     .contenedor {
        width: 99%;
        max-width: 999px;
        overflow: hidden;
        margin: auto;
        padding: 0 0 80px 0;
    }
    
    .titulo {
        color: #075aaa;
        font-size: 30px;
        text-align: center;
        margin-bottom: 60px;
    }
  
    
    /*HEADER*/

header {
    background-image: url("../imagenes/invetario.png");
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

header nav {
    height: 70px;
    display: flex;
    justify-content: space-between
}

.icono {
    display: none;
}

.enlaces {
  
    display: flex;
    height: 100%;
    width: 79%;
    justify-content: space-around;
    align-items: center;
}

.enlaces a {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    padding: 4px 0;
    transition: 0.7s ease-out;
    color: #fff;
    text-decoration: none;
}

.enlaces a:hover,
.active {
    border-top: 2px solid rgb(145, 12, 12);
    border-bottom: 2px solid rgb(146, 45, 14);
}

nav .logo {
    height: 100%;
    background: #fff;
    margin-left: 80px;
}

nav .logo img {
    object-fit: cover;
    height: inherit;
}

header .textos {
    text-align: center;
    color: #fff;
    margin-top: 150px;
}

header .textos h1 {
    font-size: 100px;
    letter-spacing: 4px;
    font-weight: 600;
    margin-bottom: 10px;
}

header .textos h2 {
    font-size: 30px;
    font-weight: 600;
}

@media screen and (max-width:750px) {
    .icono {
        display: flex;
        justify-content: center;
        height: 70px;
        align-items: center;
        color: #fff;
        background: transparent;
        padding: 20px;
        z-index: 100;
        cursor: pointer;
        margin-right: 40px;
    }

    header .textos h1 {
        font-size: 75px;
    }

    .enlaces {
       position: absolute;
        height: 100vh;
        right: 0;
        width: 100%;
        flex-direction: column;
        transition: all 1s ease;
        background: #ad2c08;
        background: -webkit-linear-gradient(to right, #e2070783, #272727);
        background: linear-gradient(to right, #3d3b3b, #cf0e0e);

    }

    .uno {

        -webkit-clip-path: circle(0% at 100% 0%);
        clip-path: circle(0% at 100% 0%);

    }

    .dos {

        -webkit-clip-path: circle(150% at 100% 0%);
        clip-path: circle(150% at 100% 0%);

    }
}

@media screen and (max-width:400px){
    nav .logo{
        margin-left: 20px;
    }
    .icono{
        margin-right:20px;
    }

    header .textos h1 {
        font-size: 65px;
    }
}

    
    /*Información General del sistema*/
   
    .contenedor-sobre-nosotros{
        display: flex;
        
    }
    
    .imagen-about-us{
        width: 48%;
    }
    
    .sobre-nosotros .contenido-textos{
        width: 100%;
    }
    
   
    .contenido-textos h3 span{
        background: #5c1803;
        color: #fff;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        width: 35px;
        height: 35px;
        padding: 2px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
        margin-right: 5px;
    }
    
    .contenido-textos p{
        padding: 0px 0px 30px 15px;
        font-weight: 300;
        text-align: justify;
    }
    @media screen and (max-width:900px){
        header{
            background-position: center;
        }
    
        .contenedor-sobre-nosotros{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        .sobre-nosotros .contenido-textos{
            width: 95%;
        }
    
        .imagen-about-us{
            width: 90%;
        }
    }

    /* BOTON ARRIBA*/
    .go-top-container{
        position: fixed;
        bottom: 7.0rem;
        right: 0rem;
        width: 3.1rem;
        height: 0rem;
        z-index: -1;
    }
    .go-top-button{
        width: 0rem;
        height: 0rem;
        background: #2071b2;
        border-radius: 55%;
        cursor: pointer;
        transition: .2s;
        top: 0%;
        left: 20%;
        transform: translate(-50%, -50%);
        z-index: -1;

    }
    .go-top-button i{
        position: absolute;
        font-size: 1.8rem;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        color: #fff;
        transition: .2s;
    }
    .show{
        z-index: 10;
    }
    .show .go-top-button{
        animation: popup .3s ease-in-out;
        width: 5.0rem;
        height: 5.0rem;
        z-index: 11;
    }
    .show i{
        transform: translate(-50%, -50%);
    }
    @keyframes popup{
        0%{
            width: 0rem;
            height: 0rem;
        }
        50%{
            width: 8rem;
            height: 8rem;
        }
        100%{
            width: 6.6rem;
            height: 6.6rem;
        }
    }

    @media screen and (max-width: 576px){
        header{
            justify-content: flex-start;
        }

        header .textos-header{
            display: flex;
            flex-wrap: wrap;
            text-align: center;
        }

        .imagen-about-us{
            width: 85%;
            height: 400px;
        }
    }


/*CONTACTANOS*/

    .contact-box{
        max-width: 1000vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #fff;
        box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
    }
    
    .left{
        background: url("../imagenes/undraw_contact_us_15o2.svg") no-repeat center;
        background-size: cover;
        height: 100%;
    }
    
    .right{
        padding: 25px 40px;
    }
    
    
    h2:after{
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        height: 4px;
        width: 50px;
        border-radius: 2px;
        
    }
    
    .field{
        width: 100%;
        border: 2px solid rgba(0, 0, 0, 0);
        outline: none;
        background-color: rgba(230, 230, 230, 0.6);
        padding: 0.5rem 1rem;
        font-size: 1.1rem;
        margin-bottom: 22px;
        transition: .3s;
    }
    
    .field:hover{
        background-color: rgba(0, 0, 0, 0.1);
    }
    
    textarea{
        min-height: 200px;
    }
    
    .btn{
        width: 100%;
        padding: 0.5rem 1rem;
        background-color:  #610f0fc7;
        color: #fff;
        font-size: 1.1rem;
        border: none;
        outline: none;
        cursor: pointer;
        transition: .3s;
    }
    
    .btn:hover{
        background-color: #1d699c;
    }
    
    .field:focus{
        border: 3px solid rgba(30,85,250,0.47);
        background-color: #fff;
    }
    
    @media screen and (max-width: 880px){
        .contact-box{
            grid-template-columns: 1fr;
        }
        .left{
            height: 200px;
        }
    }
     /*BOTON IDIOMA*/

.en{
    color:rgb(245, 241, 241)
}
.es{
    color:#f7f7f7;
}
.check{
    position: relative;
    width: 50px;
}
.check:before{
    content: '';
    position: absolute;
    width: 50px;
    height: 25px;
    background: rgb(99, 9, 9);
    border-radius: 25px;
}
.check:after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 25px;
    transition: 0.25s;
    border: 2px solid rgb(247, 241, 241);
    box-sizing: border-box;
}
.check:checked:after{
    left: 25px;
    border:2px solid #00a1ff
}
.check:checked::before{
    background: #00a1ff;
}
    

  
